
@{
    ViewData["Title"] = "index";
}

<!-- PAGE TITLE 1 -->
<div class="page-title-bg indent-header-1 page-main-content m-bot-40">
    <div class="container">
        <div class="page-title-container">
            <div class="row">
                <div class="col-md-12">
                    <h2>FILOSOFÍA</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a class="a-invert" href="/">INICIO</a></li>
                        <li class="active">FILOSOFÍA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- COTENT CONTAINER -->
<div class="container">
    <div class="row m-bot-60">
        <!-- STYLE 1 -->
        <div class="col-md-12 feature-box3">
            <div class="row box-with-hover">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ca-menu hovered">
                        <div class="ca-icon"><span aria-hidden="true" class="icon_adjust-horiz"></span></div>
                        <div class="ca-content">
                            <h2 class="ca-main">VISIÓN</h2>
                            <div class="ca-sub">Consolidar a SYCOD como una empresa de Tecnologías de información  referente en la entrega de soluciones de valor, apoyando la competitividad de nuestros clientes, bajo una gestión profesional  basada en los principios y  valores que nos diferencian.</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ca-menu hovered">
                        <div class="ca-icon"><span aria-hidden="true" class="icon_cog"></span></div>
                        <div class="ca-content">
                            <h2 class="ca-main">MISIÓN</h2>
                            <div class="ca-sub">Proveer servicios de tecnologías de información con la más alta calidad, y constante innovación para anticiparnos a las necesidades de nuestros clientes; integrando en una sola operación la selección adecuada de los productos y servicios de vanguardia que ofrecen las empresas líderes de nuestro ramo, buscando hacer socios de negocio a nuestros principales proveedores y exceder los objetivos financieros y de crecimiento de nuestros accionistas.</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ca-menu hovered">
                        <div class="ca-icon"><span aria-hidden="true" class="icon_lightbulb_alt"></span></div>
                        <div class="ca-content">
                            <h2 class="ca-main">ESTRATEGIA</h2>
                            <div class="ca-sub">Facultar el desarrollo y la transformación de negocios a través de la integración de personas, procesos y tecnología.</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ca-menu hovered">
                        <div class="ca-icon"><span aria-hidden="true" class="icon_search"></span></div>
                        <div class="ca-content">
                            <h2 class="ca-main">ANALISIS Y DISEÑO</h2>
                            <div class="ca-sub">Mantener una relación estrecha y de cooperación con las empresas desarrolladoras y proveedoras de tecnologías de la información más avanzadas; salvaguardar la ética profesional en el trato con nuestros clientes, y procurar la integridad y congruencia en nuestro personal.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ca-menu hovered">
                        <div class="ca-icon"><span aria-hidden="true" class="icon_genius"></span></div>
                        <div class="ca-content">
                            <h2 class="ca-main">DINAMICA DE PROCESOS</h2>
                            <div class="ca-sub">En SYCOD hemos desarrollado una dinámica de procesos internos que nos permite dar un servicio que ofrece soluciones integrales, de acuerdo a las necesidades particulares de cada uno de nuestros clientes. Las dinámicas y procesos se desarrollan mediante una retroalimentación continua entre las distintas fases de la implementación, lo que asegura resultados exitosos.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ca-menu hovered">
                        <div class="ca-icon"><span aria-hidden="true" class="icon_piechart"></span></div>
                        <div class="ca-content">
                            <h2 class="ca-main">NUESTRA METODOLOGÍA</h2>
                            <div class="ca-sub">Para estar siempre a la vanguardia y alcanzar los máximos niveles de eficiencia en el servicio que ofrecemos a nuestros clientes, en SYCOD aplicamos una metodología de solución basada en cinco puntos estratégicos: visión de negocios, modelo financiero, diseño de solución, servicios de información y selección de sistema.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ca-menu hovered">
                        <div class="ca-icon"><span aria-hidden="true" class="icon_piechart"></span></div>
                        <div class="ca-content">
                            <h2 class="ca-main">VALORES ORGANIZACIONALES</h2>
                            <div class="ca-sub">
                                Gestionar con eficacia y eficiencia para hacer la organización sostenible y competitiva. Fomentar la Innovación orientada a la mejora continua de procesos y servicios. Gestionar con criterios de calidad para alcanzar la satisfacción del cliente externo e interno, estableciendo los canales de comunicación necesarios que permitan la mejora continua. Fomentar el trabajo en equipo, el respeto, la ética profesional, participación e integración de todos los colaboradores de la organización.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- PROMO -->
</div>
