@{
    ViewData["Title"] = "Home Page";
}

<!-- SLIDER -->
<div class="tp-banner-container indent-header-2 page-main-content">

    <div class="slider-1 clearfix">

        <div class="flex-container">
            <div class="flexslider loading">
                <ul class="slides">
                    <!-- SLIDE 1 -->
                    <li style="background:url(/node_modules/template/images/flexslider/slider-bg-1.jpg) no-repeat;background-position:50% 0">

                        <div class="container">
                            <div class="sixteen columns contain">

                                <h2 data-toptitle="36%">MULTIPURPOSE THEME</h2>
                                <p data-bottomtext="39%">CRAS JUSTO ODIO, DAPIBUS AC FACILISIS </p>
                                <div class="links" data-bottomlinks="30%">
                                    <a class="button medium r-m-plus r-m-full" href="blog-single.html">READ MORE</a>
                                </div>

                                <img src="~/node_modules/template/images/flexslider/slider-item-1.png" class="item" alt="slide-item" data-topimage="19%" />

                            </div>
                        </div><!-- End Container -->

                    </li><!-- End item -->
                    <!-- SLIDE 2 -->
                    <li style="background:url(/node_modules/template/images//flexslider/slider-bg-2.jpg) no-repeat; background-position:50% 0">

                        <div class="container">
                            <div class="sixteen columns contain">

                                <h2 data-toptitle="36%">LOREM IPSUM</h2>
                                <p data-bottomtext="39%">CRAS JUSTO ODIO, DAPIBUS AC FACILISIS </p>
                                <div class="links" data-bottomlinks="30%">
                                    <a class="button medium r-m-plus r-m-full" href="blog-single.html">READ MORE</a>
                                </div>

                                <img src="~/node_modules/template/images/flexslider/slider-item-2.png" class="item" alt="slide-item" data-topimage="19%" />

                            </div>
                        </div><!-- End Container -->

                    </li><!-- End item -->
                    <!-- SLIDE 3 -->
                    <li style="background: url(/node_modules/template/images//flexslider/slider-bg-3.jpg) no-repeat;
        background-position: 50% 0">

                        <div class="container">
                            <div class="sixteen columns contain">

                                <h2 data-toptitle="36%">ALES MAECENAS</h2>
                                <p data-bottomtext="39%">CRAS JUSTO ODIO, DAPIBUS AC FACILISIS </p>
                                <div class="links" data-bottomlinks="30%">
                                    <a class="button medium r-m-plus r-m-full" href="blog-single.html">READ MORE</a>
                                </div>

                                <img src="~/node_modules/template/images/flexslider/jump-men.png" class="item" alt="slide-item" data-topimage="19%" />

                            </div>
                        </div><!-- End Container -->

                    </li><!-- End item -->


                </ul>
            </div>
        </div>

    </div><!-- End slider -->

</div>
<!-- SLOGAN 3-->
<div class="black-bg">
    <div class="container">
        <div class="col-md-8">
            <div class="slogan-2-text-container">
                <div class="slogan-2-text">DO YOU WANT TO CREATE A GOOD WEBSITE? YOUR WEBSITE</div>
                <div class="slogan-2-sec-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Us gravida libero eget lorem</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="slogan-3-a-container">
                <a class="button large yellow" href="http://themeforest.net/item/amilia-responsive-multipurpose-template/10067059?ref=abcgomel">GET STARTED NOW!</a>
            </div>
        </div>
    </div>
</div>

<!-- BOXES 4-->
<div class="f-box4-container">
    <div class="container">
        <div class="row box-with-hover">
            <div class="col-md-12 feature-box3">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="f-box4-item-container hovered">
                            <div class="f-box4-icon-container"><span aria-hidden="true" class="icon_adjust-horiz f-box4-icon"></span></div>
                            <div class="f-box4-content">
                                <h2 class="ca-main">FULLY RESPONSIVE</h2>
                                <div class="ca-sub">Sed ut perspiciatis unde omnis iste natus eror si  acus  antium que.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="f-box4-item-container hovered">
                            <div class="f-box4-icon-container"><span aria-hidden="true" class="icon_cog f-box4-icon"></span></div>
                            <div class="f-box4-content">
                                <h2 class="ca-main">EASY TO CUSTOMIZE</h2>
                                <div class="ca-sub">Sed ut perspiciatis unde omnis iste natus eror si  acus  antium que.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="f-box4-item-container hovered">
                            <div class="f-box4-icon-container"><span aria-hidden="true" class="icon_lightbulb_alt f-box4-icon"></span></div>
                            <div class="f-box4-content">
                                <h2 class="ca-main">RETINA READY</h2>
                                <div class="ca-sub">Sed ut perspiciatis unde omnis iste natus eror si  acus  antium que.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="f-box4-item-container hovered">
                            <div class="f-box4-icon-container"><span aria-hidden="true" class="icon_search f-box4-icon"></span></div>
                            <div class="f-box4-content">
                                <h2 class="ca-main">SEO FRIENDLY</h2>
                                <div class="ca-sub">Sed ut perspiciatis unde omnis iste natus eror si  acus  antium que.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- FEATURES 3 -->
<div class="title-lines-container ">
    <div class="container">
        <div class="title-lines">
            <div class="title-block">
                OUR ADVANTAGES
            </div>
        </div>
    </div>
</div>
<div class="features3-bg m-bot-40">
    <div class="container">
        <div class="row feature3-container">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature3-row-container clearfix">
                    <div class="feature3-icon-container">
                        <span aria-hidden="true" class="icon_gift_alt"></span>
                    </div>
                    <div class="feature3-text-container ">
                        <h2 class="title-20">NULLAM IN DUI SEM</h2>
                        <div>Sed ut perspiciatis unde omnis iste natus error sit  accus  antium. Dolora orem que laudantium</div>
                    </div>
                </div>
                <div class="feature3-row-container clearfix">
                    <div class="feature3-icon-container">
                        <span aria-hidden="true" class="icon_heart_alt"></span>
                    </div>
                    <div class="feature3-text-container ">
                        <h2 class="title-20">ALIQUAM BIBENDUM</h2>
                        <div>Sed ut perspiciatis unde omnis iste natus error sit  accus  antium. Dolora orem que laudantium</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature3-row-container clearfix">
                    <div class="feature3-icon-container">
                        <span aria-hidden="true" class="icon_toolbox_alt"></span>
                    </div>
                    <div class="feature3-text-container ">
                        <h2 class="title-20">FUSCE DIGNISSIM </h2>
                        <div>Sed ut perspiciatis unde omnis iste natus error sit  accus  antium. Dolora orem que laudantium</div>
                    </div>
                </div>
                <div class="feature3-row-container clearfix">
                    <div class="feature3-icon-container">
                        <span aria-hidden="true" class="icon_piechart"></span>
                    </div>
                    <div class="feature3-text-container ">
                        <h2 class="title-20">NULLA FINIBUS</h2>
                        <div>Sed ut perspiciatis unde omnis iste natus error sit  accus  antium. Dolora orem que laudantium</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 feature3-img">
                <img src="~/node_modules/template/images/girl-features-3.png" alt="girl">
            </div>
        </div>
    </div>
</div>

<!-- PORTFOLIO FILTER -->
<div class="title-lines-container">
    <div class="container">
        <div class="title-lines">
            <div class="title-block">
                OUR WORK
            </div>
            <div class="view-all-container">
                <a class="button medium r-m-plus r-m-full" href="portfolio.html">VIEW ALL</a>
            </div>
        </div>
    </div>
</div>
<div class="container portfolio-filter-container m-bot-35">
    <div class="row m-bot-30">
        <div id="options" class="col-md-12">
            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                <li><a href="#filter" data-option-value="*" class="selected">ALL</a></li>
                <li><a href="#filter" data-option-value=".category1">WEB</a></li>
                <li><a href="#filter" data-option-value=".category2">DESIGN</a></li>
                <li><a href="#filter" data-option-value=".category3">PHOTO</a></li>
            </ul>
        </div>
    </div>
    <div class="row box-with-hover">

        <div class="filter-portfolio clearfix">
            <div id="filter-container" class="clearfix">
                <!-- PORTFOLIO ITEM 1-->
                <div class="element category1 col-xs-12 col-sm-6 col-md-3 m-bot-30">
                    <div class="view view-first hovered">
                        <a href="~/node_modules/template/images/content/port-sqr-1.jpg" class="lightbox">
                            <img src="~/node_modules/template/images/content/port-sqr-1.jpg" alt="Ipsum">
                            <div class="mask">
                                <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item-caption-container">
                        <a class="a-invert" href="portfolio-single.html">LOREM IPSUM</a>
                    </div>
                </div>

                <!-- PORTFOLIO ITEM 2-->
                <div class="element category2 col-xs-12 col-sm-6 col-md-3 m-bot-30">
                    <div class="view view-first hovered">
                        <a href="~/node_modules/template/images/content/port-sqr-2.jpg" class="lightbox">
                            <img src="~/node_modules/template/images/content/port-sqr-2.jpg" alt="Ipsum">
                            <div class="mask">
                                <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item-caption-container">
                        <a class="a-invert" href="portfolio-single.html">CRAES NUSTRO</a>
                    </div>
                </div>
                <!-- PORTFOLIO ITEM 3-->
                <div class="element category3 col-xs-12 col-sm-6 col-md-3 m-bot-30">
                    <div class="view view-first hovered">
                        <a href="~/node_modules/template/images/content/port-sqr-3.jpg" class="lightbox">
                            <img src="~/node_modules/template/images/content/port-sqr-3.jpg" alt="Ipsum">
                            <div class="mask">
                                <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item-caption-container">
                        <a class="a-invert" href="portfolio-single.html">SED LECTUS</a>
                    </div>
                </div>
                <!-- PORTFOLIO ITEM 4-->
                <div class="element category1 col-xs-12 col-sm-6 col-md-3 m-bot-30">
                    <div class="view view-first hovered">
                        <a href="~/node_modules/template/images/content/port-sqr-4.jpg" class="lightbox">
                            <img src="~/node_modules/template/images/content/port-sqr-4.jpg" alt="Ipsum">
                            <div class="mask">
                                <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item-caption-container">
                        <a class="a-invert" href="portfolio-single.html">IPSUM LECTUS</a>
                    </div>
                </div>
                <!-- PORTFOLIO ITEM 5-->
                <div class="element category2 col-xs-12 col-sm-6 col-md-3 m-bot-30">
                    <div class="view view-first hovered">
                        <a href="~/node_modules/template/images/content/port-sqr-5.jpg" class="lightbox">
                            <img src="~/node_modules/template/images/content/port-sqr-5.jpg" alt="Ipsum">
                            <div class="mask">
                                <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item-caption-container">
                        <a class="a-invert" href="portfolio-single.html">SIT AMETIN</a>
                    </div>
                </div>
                <!-- PORTFOLIO ITEM 6-->
                <div class="element category3 col-xs-12 col-sm-6 col-md-3 m-bot-30">
                    <div class="view view-first hovered">
                        <a href="~/node_modules/template/images/content/port-sqr-6.jpg" class="lightbox">
                            <img src="~/node_modules/template/images/content/port-sqr-6.jpg" alt="Ipsum">
                            <div class="mask">
                                <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item-caption-container">
                        <a class="a-invert" href="portfolio-single.html">NEC LOREM</a>
                    </div>
                </div>
                <!-- PORTFOLIO ITEM 7-->
                <div class="element category1 col-xs-12 col-sm-6 col-md-3 m-bot-30">
                    <div class="view view-first hovered">
                        <a href="~/node_modules/template/images/content/port-sqr-7.jpg" class="lightbox">
                            <img src="~/node_modules/template/images/content/port-sqr-7.jpg" alt="Ipsum">
                            <div class="mask">
                                <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item-caption-container">
                        <a class="a-invert" href="portfolio-single.html">DONEC ALIQUET</a>
                    </div>
                </div>
                <!-- PORTFOLIO ITEM 8-->
                <div class="element category2 col-xs-12 col-sm-6 col-md-3 m-bot-30">
                    <div class="view view-first hovered">
                        <a href="~/node_modules/template/images/content/port-sqr-8.jpg" class="lightbox">
                            <img src="~/node_modules/template/images/content/port-sqr-8.jpg" alt="Ipsum">
                            <div class="mask">
                                <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item-caption-container">
                        <a class="a-invert" href="portfolio-single.html">FRINGILLA LACUS</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- COTENT CONTAINER -->
<div class="title-lines-container">
    <div class="container">

        <!-- TESTIMONIALS -->
        <div class="ts-container ts-lines">
            <div class="ts-icon-container-bg">
                <div class="ts-icon-container">
                    <span aria-hidden="true" class="icon_quotations main-menu-icon"></span>
                </div>
            </div>
            <div class="ts-main-container-bg">
                <div class="ts-main-container clearfix">
                    <div class="ts-text-container">
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condim entum ultrices consequat eu, vehicula. Aenean nisl orci, condim. Ut adipiscing, leo nec.</div>
                        <div class="right-text t-a-container">
                            <span class="author-testimonial">JOHN DOE</span><span class="quote-author-description">CEO, Company</span>
                        </div>
                    </div>
                    <div class="ts-img-container">
                        <img src="~/node_modules/template/images/content/ts-author.jpg" alt="Ipsum">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- container end -->

</div>	