
@{
    ViewData["Title"] = "index";
}

<!-- PAGE TITLE 1 -->
<div class="page-title-bg indent-header-1 page-main-content m-bot-40">
    <div class="container">
        <div class="page-title-container">
            <div class="row">
                <div class="col-md-12">
                    <h2>SOCIOS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a class="a-invert" href="/">INICIO</a></li>
                        <li class="active">SOCIOS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PORTFOILIO CAROUSEL -->
<div class="title-lines-container">
    <div class="container">
        <div class="title-lines m-bot-30">
            <div class="title-block">
                NUESTROS SOCIOS
            </div>
            <div class="view-all-container">
                <div class="customNavigation clearfix">
                    <div class="carousel-va-container">
                        <a class="button medium gray-lite" href="portfolio.html">VER TODO</a>
                    </div>
                    <div class="customNavigation-container">
                        <a class="prev-blog"></a>
                        <a class="next-blog"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row box-with-hover m-bot-40">
            <div class="filter-portfolio clearfix">
                <div id="owl-blog" class="owl-carousel portfolio-filter clearfix">
                    <!-- PORTFOLIO ITEM 1-->
                    <div class="item m-bot-30">
                        <div class="view view-first hovered">
                            <a href="~/node_modules/template/images/content/port-sqr-1.jpg" class="lightbox">
                                <img src="~/node_modules/template/images/content/port-sqr-1.jpg" alt="Ipsum">
                                <div class="mask">
                                    <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item-caption-container">
                            <a class="a-invert" href="portfolio-single.html">LOREM IPSUM</a>
                        </div>
                    </div>

                    <!-- PORTFOLIO ITEM 2-->
                    <div class="item m-bot-30">
                        <div class="view view-first hovered">
                            <a href="~/node_modules/template/images/content/port-sqr-2.jpg" class="lightbox">
                                <img src="~/node_modules/template/images/content/port-sqr-2.jpg" alt="Ipsum">
                                <div class="mask">
                                    <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item-caption-container">
                            <a class="a-invert" href="portfolio-single.html">CRAES NUSTRO</a>
                        </div>
                    </div>
                    <!-- PORTFOLIO ITEM 3-->
                    <div class="item m-bot-30">
                        <div class="view view-first hovered">
                            <a href="~/node_modules/template/images/content/port-sqr-3.jpg" class="lightbox">
                                <img src="~/node_modules/template/images/content/port-sqr-3.jpg" alt="Ipsum">
                                <div class="mask">
                                    <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item-caption-container">
                            <a class="a-invert" href="portfolio-single.html">SED LECTUS</a>
                        </div>
                    </div>
                    <!-- PORTFOLIO ITEM 4-->
                    <div class="item m-bot-30">
                        <div class="view view-first hovered">
                            <a href="~/node_modules/template/images/content/port-sqr-4.jpg" class="lightbox">
                                <img src="~/node_modules/template/images/content/port-sqr-4.jpg" alt="Ipsum">
                                <div class="mask">
                                    <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item-caption-container">
                            <a class="a-invert" href="portfolio-single.html">IPSUM LECTUS</a>
                        </div>
                    </div>
                    <!-- PORTFOLIO ITEM 5-->
                    <div class="item m-bot-30">
                        <div class="view view-first hovered">
                            <a href="~/node_modules/template/images/content/port-sqr-5.jpg" class="lightbox">
                                <img src="~/node_modules/template/images/content/port-sqr-5.jpg" alt="Ipsum">
                                <div class="mask">
                                    <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item-caption-container">
                            <a class="a-invert" href="portfolio-single.html">SIT AMETIN</a>
                        </div>
                    </div>
                    <!-- PORTFOLIO ITEM 6-->
                    <div class="item m-bot-30">
                        <div class="view view-first hovered">
                            <a href="~/node_modules/template/images/content/port-sqr-6.jpg" class="lightbox">
                                <img src="~/node_modules/template/images/content/port-sqr-6.jpg" alt="Ipsum">
                                <div class="mask">
                                    <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item-caption-container">
                            <a class="a-invert" href="portfolio-single.html">NEC LOREM</a>
                        </div>
                    </div>
                    <!-- PORTFOLIO ITEM 7-->
                    <div class="item m-bot-30">
                        <div class="view view-first hovered">
                            <a href="~/node_modules/template/images/content/port-sqr-7.jpg" class="lightbox">
                                <img src="~/node_modules/template/images/content/port-sqr-7.jpg" alt="Ipsum">
                                <div class="mask">
                                    <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item-caption-container">
                            <a class="a-invert" href="portfolio-single.html">DONEC ALIQUET</a>
                        </div>
                    </div>
                    <!-- PORTFOLIO ITEM 8-->
                    <div class="item m-bot-30">
                        <div class="view view-first hovered">
                            <a href="~/node_modules/template/images/content/port-sqr-8.jpg" class="lightbox">
                                <img src="~/node_modules/template/images/content/port-sqr-8.jpg" alt="Ipsum">
                                <div class="mask">
                                    <div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item-caption-container">
                            <a class="a-invert" href="portfolio-single.html">FRINGILLA LACUS</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div><!-- End container -->
</div><!-- End title-lines-container -->

@section Scripts {
    <script>

        // Carousel Blog Items---------------------------------------------
        $("#owl-blog").owlCarousel({

            //Set AutoPlay to 3 seconds

            items: 4,
            itemsDesktop: [1000, 4], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, 2], // betweem 900px and 601px
            itemsTablet: [470, 1], //2 items between 600 and 0
            itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
            // itemsDesktop : [1199,4],
            // itemsDesktopSmall : [991,1],
            // itemsTablet: [991,1],
            // itemsMobile : false,

            //Pagination
            pagination: false,
            paginationNumbers: false,

        });

        // Carousel Blog Items Controls------------------------------------
        var owl = $("#owl-blog");

        owl.owlCarousel();

        // Custom Navigation Events
        $(".next-blog").click(function () {
            owl.trigger('owl.next');
        })
        $(".prev-blog").click(function () {
            owl.trigger('owl.prev');
        })
        $(".play").click(function () {
            owl.trigger('owl.play', 1000);
        })
        $(".stop").click(function () {
            owl.trigger('owl.stop');
        });


    </script>
}

