
@{
    ViewData["Title"] = "index";
}

<!-- PAGE TITLE 1 -->
<div class="page-title-bg indent-header-1 page-main-content m-bot-40">
    <div class="container">
        <div class="page-title-container">
            <div class="row">
                <div class="col-md-12">
                    <h2>¿QUIÉNES SOMOS?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a class="a-invert" href="/">INICIO</a></li>
                        <li class="active">¿QUIÉNES SOMOS?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ABOUT US -->
<div class="container">
    <div class="row m-bot-40">
        <div class="col-md-6 wow zoomIn">
            <div class="row">
                <!-- CAOUSEL ONE ITEM INLINE, NO CONTROLS, WITH PAGINATION-->
                <div id="owl-1-pag" class="owl-carousel">
                    <div class="item">
                        <div>
                            <img alt="about us" src="~/node_modules/template/images/content/office-building.jpg">
                        </div>
                    </div>

                    <div class="item">
                        <div>
                            <img alt="about us" src="~/node_modules/template/images/content/about-us.jpg">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 wow zoomIn">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-26">NUESTRO PRINCIPAL OBJETIVO</h2>
                    <p class="">Crear valor en las empresas de nuestros clientes a través de la gestión de integración de soluciones de tecnología de la información, comprometiéndonos con la calidad de nuestro trabajo.</p>
                </div>
                <div class="col-md-12">
                    <h2 class="title-26">NUESTROS DIFERENCIADORES</h2>
                    <p class="">Ser un proveedor con solida infraestructura, recursos financieros, tecnológicos y humanos para respaldar y garantizar el éxito de los proyectos de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- OUR TEAM -->
<div class="title-lines-container m-top-40">
    <div class="container">
        <div class="title-lines">
            <div class="title-block">
                NUESTRO ORIGEN
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row m-top-40 m-bot-40">
        <div class="col-md-6">
            <p>SyCOD nace en la Ciudad de México en Febrero de 1994, desde entonces, hemos cumplido con nuestro principal objetivo: Crear valor en las empresas de nuestros clientes a través de la gestión de sistemas de tecnología de la información comprometiéndonos con la calidad de nuestro trabajo.</p>
        </div>
        <div class="col-md-6">
            <p>SyCOD nace en la Ciudad de México en Febrero de 1994, desde entonces, hemos cumplido con nuestro principal objetivo: Crear valor en las empresas de nuestros clientes a través de la gestión de sistemas de tecnología de la información comprometiéndonos con la calidad de nuestro trabajo.</p>
        </div>
        <div class="col-md-6">
            <p>SyCOD nace en la Ciudad de México en Febrero de 1994, desde entonces, hemos cumplido con nuestro principal objetivo: Crear valor en las empresas de nuestros clientes a través de la gestión de sistemas de tecnología de la información comprometiéndonos con la calidad de nuestro trabajo.</p>
        </div>
        <div class="col-md-6">
            <p>SyCOD nace en la Ciudad de México en Febrero de 1994, desde entonces, hemos cumplido con nuestro principal objetivo: Crear valor en las empresas de nuestros clientes a través de la gestión de sistemas de tecnología de la información comprometiéndonos con la calidad de nuestro trabajo.</p>
        </div>
    </div>
</div>

    <!-- COTENT CONTAINER -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>NUESTRA METODOLOGÍA</h3>
            </div>
        </div>
        <div class="row">
            <!-- STYLE 1 -->
            <div class="col-md-12 feature-box3">
                <div class="row box-with-hover">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ca-menu hovered">
                            <div class="ca-icon"><span aria-hidden="true" class="icon_adjust-horiz"></span></div>
                            <div class="ca-content">
                                <h2 class="ca-main">MEJORA CONTINUA</h2>
                                <div class="ca-sub">Análisis de los requerimientos presupuestales, técnicos y diseño de propuesta.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ca-menu hovered">
                            <div class="ca-icon"><span aria-hidden="true" class="icon_cog"></span></div>
                            <div class="ca-content">
                                <h2 class="ca-main">IMPLEMENTACIÓN</h2>
                                <div class="ca-sub">Validación de la propuesta Técnica y Financiera con el cliente. Costeo y/o justificación financiera del proyecto.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ca-menu hovered">
                            <div class="ca-icon"><span aria-hidden="true" class="icon_lightbulb_alt"></span></div>
                            <div class="ca-content">
                                <h2 class="ca-main">PRESENTACIÓN DEL PROYECTO</h2>
                                <div class="ca-sub">Propuesta con plan de trabajo.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ca-menu hovered">
                            <div class="ca-icon"><span aria-hidden="true" class="icon_search"></span></div>
                            <div class="ca-content">
                                <h2 class="ca-main">ANALISIS Y DISEÑO</h2>
                                <div class="ca-sub">Presentación de iniciativas, recomendaciones y propuestas de valor.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ca-menu hovered">
                            <div class="ca-icon"><span aria-hidden="true" class="icon_genius"></span></div>
                            <div class="ca-content">
                                <h2 class="ca-main">EVALUACIÓN Y SELECCIÓN</h2>
                                <div class="ca-sub">Análisis de los requerimientos presupuestales, técnicos y diseño de propuesta.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ca-menu hovered">
                            <div class="ca-icon"><span aria-hidden="true" class="icon_piechart"></span></div>
                            <div class="ca-content">
                                <h2 class="ca-main">VISIÓN DEL NEGOCIO</h2>
                                <div class="ca-sub">Entender la estrategia del negocio del cliente y detección de necesidades.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- PROMO -->
    </div>

    <!-- TIMELINE -->
    <section id="cd-timeline" class="cd-container ">
        <div class="cd-timeline-start">
            <div class="cd-timeline-start-caption">START COMPANY</div>
            <div class="cd-timeline-start-date">NOVEMBER 2011</div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <span aria-hidden="true" class="icon_house_alt"></span>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>LOREM IPSUM DOLOR SIT AMET</h2>
                <div>Iste voluptatibus minus veritatis, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut</div>
                <span class="cd-date"><span class="cd-date-year">2011</span><span class="cd-date-month">NOV 11</span></span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <span aria-hidden="true" class="icon_cloud_alt"></span>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>HIC QUASI PLACEAT IURE TEMPORA</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                <span class="cd-date"><span class="cd-date-year">2012</span><span class="cd-date-month">DEC 31</span></span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <span aria-hidden="true" class="icon_heart_alt"></span>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>DOLOREM IPSAM QUAE RERUM QUIS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                <span class="cd-date"><span class="cd-date-year">2013</span><span class="cd-date-month">JUL 21</span></span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <span aria-hidden="true" class="icon_gift_alt"></span>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>ISTE VOLUPTATIBUS MINUS VERITATIS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <span class="cd-date"><span class="cd-date-year">2014</span><span class="cd-date-month">OCT 15</span></span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <span aria-hidden="true" class="icon_archive_alt"></span>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>CONSECTETUR ADIPISICING ELIT</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                <span class="cd-date"><span class="cd-date-year">2015</span><span class="cd-date-month">MAY 10</span></span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-start cd-final">
            <div class="cd-timeline-start-caption">RECENT DAY</div>
        </div>
    </section> <!-- cd-timeline -->
    <!-- TESTIMONIALS -->
    <div class="title-lines-container m-bot-80">
        <div class="container">
            <div class="ts-container ts-lines">
                <div class="ts-icon-container-bg">
                    <div class="ts-icon-container">
                        <span aria-hidden="true" class="icon_quotations main-menu-icon"></span>
                    </div>
                </div>
                <div class="ts-main-container-bg">
                    <div class="ts-main-container clearfix">
                        <div class="ts-text-container">
                            <div>
                                "Para Acciones y Valores Banamex cada proyecto es un nuevo reto, donde sus proveedores influyen para lograr sus metas. SyCOD se ha mantenido en una relación de largo plazo como un proveedor competitivo y confiable."
                            </div>
                            <div class="right-text t-a-container">
                                <span class="author-testimonial">Accival Casa de Bolsa</span><span class="quote-author-description">Ciudad, estado</span>
                            </div>
                        </div>
                        <div class="ts-img-container">
                            <img src="~/node_modules/template/images/content/ts-author.jpg" alt="Ipsum">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>

            // Carousel ONE ITEM INLINE, NO CONTROLS, NO AUTOSCROLL, WITH PAGINATION ---------------------------------------------
            $("#owl-1-pag").owlCarousel({

                //Set AutoPlay to 3 seconds
                //autoPlay : 5000,
                items: 1,
                itemsDesktop: [1000, 1], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 1], // betweem 900px and 601px
                itemsTablet: [470, 1], //2 items between 600 and 0
                itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                // itemsDesktop : [1199,4],
                // itemsDesktopSmall : [991,1],
                // itemsTablet: [991,1],
                // itemsMobile : false,

                //Pagination
                pagination: true,
                paginationNumbers: false,

            });

        </script>
    }
